/*
  Elements Layer: Global Tag Styles
*/

body {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  background-color: var(--body-bg);
  color: var(--body-color);
  transition: background-color var(--transition-base), color var(--transition-base);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-semibold);
  line-height: 1.2;
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
  border: none;
    font-family: var(--font-family-base);
}
